* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #404040;
}

img {
  max-width: 100%;
}

h2 {
  font-size: 1.125rem;
}

h1,
h2,
strong {
  font-weight: 700;
}

.nav__link,
.btn,
.footer__fineprint {
  font-size: 0.875rem;
}

.accent-color {
  color: #ffe600;
}

.hero__title {
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 0;
}

.template__title {
  font-size: 3rem;
  color: #000;
}

.template__subtitle {
  font-size: 1.125rem;
  color: #000;
}

.btn {
  padding: 0.5em 1.5em;
  text-decoration: none;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.btn--primary {
  color: #000;
  background-color: #ffe600;
  justify-self: start;
}

.btn--primary:hover, .btn--primary:focus {
  opacity: 0.7;
}

.btn--form {
  justify-self: end;
}

.master-grid {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) minmax(300px, 500px) minmax(1em, 1fr);
  padding: 4em 0;
}

.header {
  padding: 0;
  background: #000;
}

.header--home {
  background: transparent;
  position: absolute;
}

.header__content {
  grid-column: 2 / -2;
  display: flex;
  justify-content: space-between;
}

.header__link {
  background: #ffe600;
  padding-top: 2em;
}

.nav {
  position: fixed;
  background: #000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateX(100%);
  z-index: 50;
}

.nav__list {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
}

.nav__link:hover, .nav__link:focus {
  color: #ffe600;
}

.nav-toggle {
  background: transparent;
  border: none;
  padding: 0.5em;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 2em;
  z-index: 100;
}

.nav-open .nav {
  transform: translateX(0%);
  transition: transform 250ms ease-in-out;
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(225deg);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
  background: #ffe600;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before, .hamburger::after {
  background: #ffe600;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

.current-page {
  border-bottom: 2px solid #ffe600;
}

.footer {
  background: #ebebeb;
  text-align: center;
  grid-template-areas: '. social .' '. main .';
}

.footer__main {
  grid-area: main;
  opacity: 0.5;
}

.footer__body {
  margin-bottom: 4em;
}

.social-list {
  grid-area: social;
  list-style: none;
  padding: 0;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}

.social-list__link {
  color: #000;
  font-size: 1.5rem;
  margin: 0 0.5em;
}

.social-list__link:hover {
  opacity: 0.6;
}

.hero {
  color: #fff;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center left;
  padding: 8em 0 6em;
}

.hero > * {
  grid-column: 2 / -2;
}

.hero__body {
  font-size: 1.125rem;
}

.info {
  text-align: center;
}

.col {
  grid-column: 2 / -2;
}

.section__title {
  margin-top: 1.25em;
}

.section__title::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  border-radius: 1em;
  background: #ffe600;
  margin-top: 10px;
}

.section__title--center::after {
  margin: 10px auto 0;
}

.template {
  padding: 4em 0;
}

.template > * {
  grid-column: 2 / -2;
}

.template__title {
  justify-self: center;
  margin: 0;
}

.template__title::after {
  content: '';
  display: block;
  width: 110%;
  height: 25px;
  background: #ffe600;
  margin-top: -40px;
  margin-left: 10px;
}

.template .section__title {
  margin-top: 0;
}

.template__subtitle {
  max-width: 800px;
  justify-self: center;
}

.template__img {
  margin: 2em auto;
  box-shadow: 3px 3px 0 #000, 6px 6px 0 #ffe600;
}

.template__text {
  margin-top: 1.5em;
}

.contact-form {
  display: grid;
}

.contact-form label {
  font-weight: 700;
  font-size: 1.125rem;
}

.contact-form input,
.contact-form textarea {
  font-family: inherit;
  margin-bottom: 1em;
  padding: 0.5em;
}

.contact-form textarea {
  height: 150px;
  resize: none;
}

@media (min-width: 550px) {
  .header--home .nav {
    background: transparent;
  }
  .header__content {
    justify-content: flex-start;
  }
  .nav {
    position: initial;
    transform: translateX(0%);
    transition: transform 250ms ease-in-out;
  }
  .nav__list {
    flex-direction: row;
  }
  .nav__item {
    margin-left: 2em;
  }
  .nav__link {
    font-size: 0.875rem;
    font-weight: 700;
  }
  .nav-toggle {
    display: none;
  }
}

@media (min-width: 750px) {
  .master-grid {
    grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(150px, 350px)) minmax(1em, 1fr);
    gap: 0 2em;
  }
  .hero {
    padding: 8em 0 6em;
  }
  .hero > * {
    grid-column: 2 / span 2;
  }
  .col {
    grid-column: span 1;
  }
  .col:first-child {
    grid-column: 2;
  }
  .template__img {
    grid-column: 2;
  }
  .template__text {
    grid-column: 3 / span 2;
    grid-row: span 2;
  }
  .template__text-secondary {
    order: 2;
    grid-column: 2;
  }
  .contact-form {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
    gap: 0 1em;
  }
  .contact-form__fname {
    grid-column: 1;
  }
  .contact-form__email {
    grid-column: 2;
  }
  .contact-form__message {
    grid-column: 1/ -1;
  }
  .btn--form {
    grid-column: 2;
  }
  .footer {
    grid-template-areas: '. main main social .';
  }
  .footer__main {
    text-align: left;
  }
  .social-list {
    justify-content: flex-end;
  }
}

@media (min-width: 1000px) {
  .hero > * {
    margin-right: 3em;
  }
}
