@import './variables';
@import './functions';

// GENERAL STYLES =========================================
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: $ff-primary;
	font-size: fontSize(body);
	line-height: 1.6;
	color: color(dark);
}

img {
	max-width: 100%;
}

// TYPOGRAPHY ============================================
h2 {
	font-size: fontSize(h2);
}

h1,
h2,
strong {
	font-weight: $fw-bold;
}

.nav__link,
.btn,
.footer__fineprint {
	font-size: fontSize(btn);
}

.accent-color {
	color: color(accent);
}

.hero__title {
	font-size: fontSize(h1);
	line-height: 1.4;
	margin-bottom: 0;
}

.template {
	&__title {
		font-size: fontSize(h1-big);
		color: color(darker);
	}

	&__subtitle {
		font-size: fontSize(h2);
		color: color(darker);
	}
}

// buttons

.btn {
	padding: 0.5em 1.5em;
	text-decoration: none;
	border: none;
	font-weight: $fw-bold;
	cursor: pointer;

	&--primary {
		color: color(darker);
		background-color: color(accent);
		justify-self: start;

		&:hover,
		&:focus {
			opacity: 0.7;
		}
	}

	&--form {
		justify-self: end;
	}
}

// GENERAL LAYOUT ========================================

.master-grid {
	display: grid;
	grid-template-columns: minmax(1em, 1fr) minmax(300px, 500px) minmax(1em, 1fr);
	padding: 4em 0;
}

// navigation
.header {
	padding: 0;
	background: color(darker);

	&--home {
		background: transparent;
		position: absolute;
	}

	&__content {
		grid-column: 2 / -2;
		display: flex;
		justify-content: space-between;
	}
	&__link {
		background: color(accent);
		padding-top: 2em;
	}
}

.nav {
	position: fixed;
	background: color(darker);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transform: translateX(100%);
	z-index: 50;

	&__list {
		height: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}

	&__link {
		text-decoration: none;
		color: color(lighter);
		font-size: fontSize(h1-big);

		&:hover,
		&:focus {
			color: color(accent);
		}
	}
}

.nav-toggle {
	background: transparent;
	border: none;
	padding: 0.5em;
	cursor: pointer;
	position: absolute;
	right: 1em;
	top: 2em;
	z-index: 100;
}

// js activated
.nav-open {
	.nav {
		transform: translateX(0%);
		transition: transform 250ms ease-in-out;
	}

	.nav-toggle {
		position: fixed;
	}

	.hamburger {
		transform: rotate(225deg);

		&::before {
			transform: rotate(90deg) translateX(-6px);
		}
		&::after {
			opacity: 0;
		}
	}
}
// end of js activated

@mixin hamburger {
	background: color(accent);
	width: 2em;
	height: 3px;
	border-radius: 1em;
	transition: transform 250ms ease-in-out;
}

.hamburger {
	display: block;
	position: relative;
	@include hamburger;

	&::before,
	&::after {
		@include hamburger;
		content: '';
		position: absolute;
		left: 0;
		right: 0;
	}

	&::before {
		top: 6px;
	}
	&::after {
		bottom: 6px;
	}
}

.current-page {
	border-bottom: 2px solid color(accent);
}

// footer
.footer {
	background: color(light);
	text-align: center;
	grid-template-areas:
		'. social .'
		'. main .';

	&__main {
		grid-area: main;
		opacity: 0.5;
	}

	&__body {
		margin-bottom: 4em;
	}
}

.social-list {
	grid-area: social;
	list-style: none;
	padding: 0;
	margin-bottom: 2em;
	display: flex;
	justify-content: center;

	&__link {
		color: color(darker);
		font-size: fontSize(h1);
		margin: 0 0.5em;

		&:hover {
			opacity: 0.6;
		}
	}
}

// hero AREA =============================================
.hero {
	color: color(lighter);
	background-image: url(../img/hero-bg.jpg);
	background-size: cover;
	background-position: center left;
	padding: 8em 0 6em;

	& > * {
		grid-column: 2 / -2;
	}

	&__body {
		font-size: fontSize(h2);
	}
}

// INFO =================================================
.info {
	text-align: center;
}

.col {
	grid-column: 2 / -2;
}

.section__title {
	margin-top: 1.25em;

	&::after {
		content: '';
		display: block;
		width: 60px;
		height: 3px;
		border-radius: 1em;
		background: color(accent);
		margin-top: 10px;
	}

	&--center::after {
		margin: 10px auto 0;
	}
}

// Template ================================================

.template {
	padding: 4em 0;
	& > * {
		grid-column: 2 / -2;
	}

	&__title {
		justify-self: center;
		margin: 0;

		&::after {
			content: '';
			display: block;
			width: 110%;
			height: 25px;
			background: color(accent);
			margin-top: -40px;
			margin-left: 10px;
		}
	}

	.section__title {
		margin-top: 0;
	}

	&__subtitle {
		max-width: 800px;
		justify-self: center;
	}

	&__img {
		margin: 2em auto;
		// box-shadow: 0px 0px 15px rgba($color: #000000, $alpha: 0.3);
		box-shadow: 3px 3px 0 color(darker), 6px 6px 0 color(accent);
	}

	&__text {
		margin-top: 1.5em;
	}
}

// FORM =======================================================

.contact-form {
	display: grid;

	label {
		font-weight: $fw-bold;
		font-size: fontSize(h2);
	}

	input,
	textarea {
		font-family: inherit;
		margin-bottom: 1em;
		padding: 0.5em;
	}

	textarea {
		height: 150px;
		resize: none;
	}
}

@media (min-width: 550px) {
	.header--home {
		.nav {
			background: transparent;
		}
	}

	.header__content {
		justify-content: flex-start;
	}

	.nav {
		position: initial;
		transform: translateX(0%);
		transition: transform 250ms ease-in-out;

		&__list {
			flex-direction: row;
		}
		&__item {
			margin-left: 2em;
		}
		&__link {
			font-size: fontSize(btn);
			font-weight: $fw-bold;
		}

		&-toggle {
			display: none;
		}
	}
}

@media (min-width: 750px) {
	.master-grid {
		grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(150px, 350px)) minmax(1em, 1fr);
		gap: 0 2em;
	}

	.hero {
		padding: 8em 0 6em;
		& > * {
			grid-column: 2 / span 2;
		}
	}

	.col {
		grid-column: span 1;
		&:first-child {
			grid-column: 2;
		}
	}

	.template {
		&__img {
			grid-column: 2;
		}
		&__text {
			grid-column: 3 / span 2;
			grid-row: span 2;
		}

		&__text-secondary {
			order: 2;
			grid-column: 2;
		}
	}

	.contact-form {
		grid-template-columns: repeat(2, 1fr);
		grid-auto-flow: dense;
		gap: 0 1em;

		&__fname {
			grid-column: 1;
		}

		&__email {
			grid-column: 2;
		}

		&__message {
			grid-column: 1/ -1;
		}
	}
	.btn--form {
		grid-column: 2;
	}

	.footer {
		grid-template-areas: '. main main social .';
		&__main {
			text-align: left;
		}
	}

	.social-list {
		justify-content: flex-end;
	}
}

@media (min-width: 1000px) {
	.hero > * {
		margin-right: 3em;
	}
}
