$ff-primary: 'Montserrat', sans-serif;

$fw-bold: 700;
$fw-reg: 400;

$font-size: (
	'h1-big': 3rem,
	'h1': 1.5rem,
	'h2': 1.125rem,
	'body': 1rem,
	'btn': 0.875rem,
);

$color: (
	'darker': #000,
	'dark': #404040,
	'accent': #ffe600,
	'light': #ebebeb,
	'lighter': #fff,
);
